{% extends "layout.html" %}
{% block content %}
    <div class="container">

        <!-- Carousel -->
        <div class="col-sm-12 centered white-box">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ url_for('static', filename='lib/images/spacewalk1.jpg') }}" alt="Spacewalk Image">
                        <div class="carousel-caption">
                            <h2>Welcome!</h2>
                            <div class="info-box carousel-caption-box">
                                <h3>Let's learn about Extra-vehicular Activity</h3>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="{{ url_for('static', filename='lib/images/spacewalk2.jpg') }}" alt="Spacewalk Image">
                        <div class="carousel-caption">
                            <div class="info-box carousel-caption-box">
                                <h3>Extra-vehicular Activity is more commonly known as Spacewalking</h3>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="{{ url_for('static', filename='lib/images/spacewalk3.jpg') }}" alt="New York">
                        <div class="carousel-caption">
                            <div class="info-box carousel-caption-box">
                                <h3>Spacewalking is hella cool!</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Carousel -->

        <!-- What is EVA box -->
        <div class="col-sm-12 centered white-box">
            <h2>What is Extra-Vehicular Activity?</h2>
            <h3 class="underlined-content">  Let Nasa Explain!  </h3>
            <video controls poster="{{ url_for ('static', filename='lib/images/EVAposter.png')}}">
                <source src="{{ url_for ('static', filename='lib/video/WhatIsEVA.mp4')}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="info-box">
                <p>Video source: <a href="https://www.nasa.gov/audience/foreducators/topnav/materials/listbytype/Extravehicular_Activity.html" target="_blank">Nasa</a> </p>
                <p>For more videos <a href="#" target="_blank">click here.</a> </p>
            </div>
        </div>
        <!-- end What is EVA box -->

        <div class="col-sm-12 centered white-box">
            <h2>How many EVAs have there been?</h2>
            <p>**** GRAPH GOES HERE ****</p>
            <div class="info-box">
                <p>Data source: <a href="https://data.nasa.gov/Raw-Data/Extra-vehicular-Activity-EVA-US-and-Russia/9kcy-zwvn" target="_blank">Extra-vehicular Activity (EVA) - US and Russia</a> </p>
                <p>To find similar Open Source Data from Nasa visit the <a href="https://data.nasa.gov" target="_blank"> Nasa Open Data Portal</a> </p>
            </div>
        </div>

        <div class="col-sm-12 centered white-box">
            <h2>Who has done the most EVAs?</h2>
            <p>**** GRAPH GOES HERE ****</p>
            <div class="info-box">
                <p>Data source: <a href="https://data.nasa.gov/Raw-Data/Extra-vehicular-Activity-EVA-US-and-Russia/9kcy-zwvn" target="_blank">Extra-vehicular Activity (EVA) - US and Russia</a> </p>
                <p>To find similar Open Source Data from Nasa visit the <a href="https://data.nasa.gov" target="_blank"> Nasa Open Data Portal</a> </p>
            </div>
        </div>
    </div>
{% endblock %}