{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <!-- Timelapse background --
        <video autoplay loop id="video-background" muted plays-inline preload="none">
            <source src="{{url_for ('static', filename='lib/video/timelapse1.mp4')}}" type="video/mp4">
        </video>
        <!-- end Timelapse background -->



        <!-- What is EVA box -->
        <div class="col-sm-12 centered white-box">
            <h2>What is Extra-Vehicular Activity?</h2>
            <h3 class="underlined-content">  Let Nasa Explain!  </h3>
            <video controls poster="{{ url_for ('static', filename='lib/images/EVAposter.png')}}">
                <source src="{{ url_for ('static', filename='lib/video/WhatIsEVA.mp4')}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="info-box">
                <p>Video source: <a href="https://www.nasa.gov/audience/foreducators/topnav/materials/listbytype/Extravehicular_Activity.html" target="_blank">Nasa</a> </p>
                <p>For more videos <a href="#" target="_blank">click here.</a> </p>
            </div>
        </div>
        <!-- end What is EVA box -->

        <div class="col-sm-12 centered white-box">
            <h2>How many EVAs have there been?</h2>
            <p>**** GRAPH GOES HERE ****</p>

            <div class="info-box">
                <p>Data source: <a href="https://data.nasa.gov/Raw-Data/Extra-vehicular-Activity-EVA-US-and-Russia/9kcy-zwvn" target="_blank">Extra-vehicular Activity (EVA) - US and Russia</a> </p>
                <p>To find similar Open Source Data from Nasa visit the <a href="https://data.nasa.gov" target="_blank"> Nasa Open Data Portal</a> </p>
            </div>
        </div>

        <div class="col-sm-12 centered white-box">
            <h2>Who has done the most EVAs?</h2>
            <p>**** GRAPH GOES HERE ****</p>
            <div class="info-box">
                <p>Data source: <a href="https://data.nasa.gov/Raw-Data/Extra-vehicular-Activity-EVA-US-and-Russia/9kcy-zwvn" target="_blank">Extra-vehicular Activity (EVA) - US and Russia</a> </p>
                <p>To find similar Open Source Data from Nasa visit the <a href="https://data.nasa.gov" target="_blank"> Nasa Open Data Portal</a> </p>
            </div>
        </div>
    </div>
    <div id="country-chart"></div>
            <div id="menu-select"></div>
{% endblock %}