{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="col-sm-12 centered  white-box">
            <h2>MISSIONS!!!!!</h2>
            <p>******* MISSIONS TABLE GOES HERE ********</p>
             <div class="info-box">
                <p>Data source: <a href="https://data.nasa.gov/Raw-Data/Extra-vehicular-Activity-EVA-US-and-Russia/9kcy-zwvn" target="_blank">Extra-vehicular Activity (EVA) - US and Russia</a> </p>
                <p>To find similar Open Source Data from Nasa visit the <a href="https://data.nasa.gov" target="_blank"> Nasa Open Data Portal</a> </p>
            </div>
        </div>
    </div>
{% endblock %}