{% extends "layout.html" %}
{% block content %}
    <div class="container">
            <!-- First Row -->
            <div class="chart-wrapper col-md-6 col-sm-12">
                <div class="chart-title">
                    <h2>Remembering The First Spacewalk</h2>
                </div>
                <iframe height="315px" width="460px" src="https://www.youtube.com/embed/WiEit6UrIGw" frameborder="0" allowfullscreen></iframe>
                <div class="chart-notes">
                    <p>Video source: <a href="https://www.youtube.com/channel/UCL9bf2tIt5AJe9uTDxBW2JA" target="_blank">Waspie Dwarf</a> </p>
                </div>
            </div>
            <div class="chart-wrapper col-md-6 col-sm-12">
                <div class="chart-title">
                    <h2>Suit Up - 50 Years of Spacewalks</h2>
                </div>
                <iframe height="315px" width="460px" src="https://www.youtube.com/embed/Z62z64-AyH0" frameborder="0" allowfullscreen></iframe>
                <div class="chart-notes">
                    <p>Video source: <a href="https://www.youtube.com/channel/UCLA_DiR1FfKNvjuUpBHmylQ" target="_blank">Nasa</a> </p>
                </div>
            </div>
            <!-- end First Row -->

            <!-- Second Row -->
            <div class="col-md-6 chart-wrapper col-sm-12">
                <div class="chart-title">
                        <h3>First Spacewalk Ever</h3>
                </div>
                <iframe height="315px" width="460px" src="https://www.youtube.com/embed/uAPBRvd8OTY" frameborder="0" allowfullscreen></iframe>
                <div class="chart-notes">
                    <p>Video source: <a href="https://www.youtube.com/channel/UCVJyhnJaxRhgVl4cfMof5KA" target="_blank">Error418</a> </p>
                </div>
            </div>
            <div class="col-md-6 chart-wrapper col-sm-12">
                <div class="chart-title">
                    <h3>First US Spacewalk</h3>
                </div>
                <iframe height="315px" width="460px" src="https://www.youtube.com/embed/CPZSivgyV94" frameborder="0" allowfullscreen></iframe>
                <div class="chart-notes">
                    <p>Video source: <a href="https://www.youtube.com/channel/UCM-kjdrQge9AACfB3MSRyrg" target="_blank">Jeff Quitney</a> </p>
                </div>
            </div>
            <!-- end Second Row -->

            <!-- Third Row -->
            <div class="col-md-6 chart-wrapper col-sm-12">
                <div class="chart-title">
                        <h3>Russian Spacewalk Go Pro Footage</h3>
                </div>
                <iframe height="315px" width="460px" src="https://www.youtube.com/embed/3jr2m_oEGcU" frameborder="0" allowfullscreen></iframe>
                <div class="chart-notes">
                    <p>Video source: <a href="https://www.youtube.com/channel/UCpwvZwUam-URkxB7g4USKpg" target="_blank">RT</a> </p>
                </div>
            </div>
            <div class="col-md-6 chart-wrapper col-sm-12">
                <div class="chart-title">
                    <h3>US Spacewalk Go Pro Footage</h3>
                </div>
                <iframe height="315px" width="460px" src="https://www.youtube.com/embed/PG6JmKUpTsw" frameborder="0" allowfullscreen></iframe>
                <div class="chart-notes">
                    <p>Video source: <a href="https://www.youtube.com/channel/UCXPZEDFIMDddGb2-2usSu_w" target="_blank">Public Domain TV</a> </p>
                </div>
            </div>
            <!-- end Third Row -->

            <!-- Third Row -->
            <div class="col-md-6 chart-wrapper col-sm-12">
                <div class="chart-title">
                        <h3>Spacewalk Lifejacket</h3>
                </div>
                <iframe height="315px" width="460px" src="https://www.youtube.com/embed/Z7A72HSOzJU" frameborder="0" allowfullscreen></iframe>
                <div class="chart-notes">
                    <p>Video source: <a href="https://www.youtube.com/channel/UCWqPRUsJlZaDp-PVbqEch9g" target="_blank">Smithsonian Channel</a> </p>
                </div>
            </div>
            <div class="col-md-6 chart-wrapper col-sm-12">
                <div class="chart-title">
                    <h3>Floating Away In Space?</h3>
                </div>
                <iframe height="315px" width="460px" src="https://www.youtube.com/embed/jXil9P1xqKI" frameborder="0" allowfullscreen></iframe>
                <div class="chart-notes">
                    <p>Video source: <a href="https://www.youtube.com/channel/UC_MTPqgFSm_8WUWaCHIfUgQ" target="_blank">TheVender101</a> </p>
                </div>
            </div>
            <!-- end Third Row -->

            <!-- Game Row -->
            <div class="col-sm-12 chart-wrapper">
                <div class="chart-title">
                    <h3>Space Bugs Game!!!</h3>
                </div>
                <iframe src="http://www.freeonlinegames.com/embed/2757" width="560" height="470" frameborder="no" scrolling="no"></iframe>
                <div class="chart-notes">
                    <p>Space Bugs is a Space based Shooting Game. Your aim is to fly your space fighter and shoot down the invading hostile
                    space bugs and clear them off, before advancing to the next level. The Bugs fly around in formations, they also shoot back,
                    so avoid getting hit by the enemy bullets or you'll lose a life. You only have 3 lives in total. A tip is to hide in the bottom
                        corners to avoid most of their bullets.</p>
                    <h4>Instructions</h4>
                    <p>Move Around / Fire = Mouse (left click button)</p>
                     <p>Game source: <a href="#" target="_blank">FOG</a> </p>
                </div>
            </div>
            <!-- end Game Row -->

    </div>
{% endblock %}